--
-- PostgreSQL database dump
--

-- Dumped from database version 15.4 (Debian 15.4-1.pgdg110+1)
-- Dumped by pg_dump version 15.4 (Debian 15.4-1.pgdg110+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: tiger; Type: SCHEMA; Schema: -; Owner: admin
--

CREATE SCHEMA tiger;


ALTER SCHEMA tiger OWNER TO admin;

--
-- Name: tiger_data; Type: SCHEMA; Schema: -; Owner: admin
--

CREATE SCHEMA tiger_data;


ALTER SCHEMA tiger_data OWNER TO admin;

--
-- Name: topology; Type: SCHEMA; Schema: -; Owner: admin
--

CREATE SCHEMA topology;


ALTER SCHEMA topology OWNER TO admin;

--
-- Name: SCHEMA topology; Type: COMMENT; Schema: -; Owner: admin
--

COMMENT ON SCHEMA topology IS 'PostGIS Topology schema';


--
-- Name: fuzzystrmatch; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS fuzzystrmatch WITH SCHEMA public;


--
-- Name: EXTENSION fuzzystrmatch; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION fuzzystrmatch IS 'determine similarities and distance between strings';


--
-- Name: postgis; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis WITH SCHEMA public;


--
-- Name: EXTENSION postgis; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis IS 'PostGIS geometry and geography spatial types and functions';


--
-- Name: postgis_tiger_geocoder; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis_tiger_geocoder WITH SCHEMA tiger;


--
-- Name: EXTENSION postgis_tiger_geocoder; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis_tiger_geocoder IS 'PostGIS tiger geocoder and reverse geocoder';


--
-- Name: postgis_topology; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis_topology WITH SCHEMA topology;


--
-- Name: EXTENSION postgis_topology; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis_topology IS 'PostGIS topology spatial types and functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: catalogo_requisitos; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.catalogo_requisitos (
    id integer NOT NULL,
    seccion_codigo character varying(20),
    seccion_titulo character varying(300),
    seccion_subtitulo text,
    nombre_documento text NOT NULL,
    categoria character varying(100) NOT NULL,
    aplica_a character varying(100) NOT NULL,
    es_obligatorio boolean NOT NULL,
    es_subtitulo boolean NOT NULL,
    orden integer NOT NULL,
    estado boolean NOT NULL,
    fecha_creacion timestamp without time zone NOT NULL,
    fecha_modificacion timestamp without time zone NOT NULL
);


ALTER TABLE public.catalogo_requisitos OWNER TO admin;

--
-- Name: catalogo_requisitos_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.catalogo_requisitos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.catalogo_requisitos_id_seq OWNER TO admin;

--
-- Name: catalogo_requisitos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.catalogo_requisitos_id_seq OWNED BY public.catalogo_requisitos.id;


--
-- Name: citaciones_infracciones; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.citaciones_infracciones (
    id uuid NOT NULL,
    establecimiento_id uuid NOT NULL,
    supervisor_id uuid NOT NULL,
    motivo_citacion text NOT NULL,
    evidencia_foto_url character varying(500),
    fecha_emision date NOT NULL,
    alerta_enviada boolean NOT NULL,
    estado boolean NOT NULL,
    fecha_creacion timestamp without time zone NOT NULL,
    fecha_modificacion timestamp without time zone NOT NULL
);


ALTER TABLE public.citaciones_infracciones OWNER TO admin;

--
-- Name: establecimientos; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.establecimientos (
    id uuid NOT NULL,
    propietario_id uuid NOT NULL,
    codigo_cue character varying(50),
    nombre_comercial character varying(200) NOT NULL,
    tipo character varying(100) NOT NULL,
    nivel character varying(50) NOT NULL,
    municipio character varying(100) NOT NULL,
    responsable_laboratorio character varying(200),
    responsables_areas character varying(255),
    direccion text NOT NULL,
    coordenadas public.geometry(Point,4326),
    horario character varying(100),
    telefono character varying(50),
    email_contacto character varying(150),
    descripcion text,
    imagen_url text,
    servicios text,
    observaciones text,
    estado_operativo character varying(50) NOT NULL,
    estado boolean NOT NULL,
    fecha_creacion timestamp without time zone NOT NULL,
    fecha_modificacion timestamp without time zone NOT NULL
);


ALTER TABLE public.establecimientos OWNER TO admin;

--
-- Name: historial_actividades; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.historial_actividades (
    id uuid NOT NULL,
    codigo_tramite character varying(50) NOT NULL,
    establecimiento character varying(200) NOT NULL,
    accion text NOT NULL,
    responsable character varying(150) NOT NULL,
    estado_resultado character varying(50) NOT NULL,
    estado_badge character varying(100) NOT NULL,
    fecha_hora_formato character varying(50) NOT NULL,
    estado boolean NOT NULL,
    fecha_creacion timestamp without time zone NOT NULL,
    fecha_modificacion timestamp without time zone NOT NULL
);


ALTER TABLE public.historial_actividades OWNER TO admin;

--
-- Name: inspecciones; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.inspecciones (
    id uuid NOT NULL,
    tramite_id uuid NOT NULL,
    supervisor_id uuid NOT NULL,
    fecha_programada timestamp without time zone NOT NULL,
    estado_inspeccion character varying(50) NOT NULL,
    veredicto_final character varying(50),
    acta_pdf_url character varying(500),
    estado boolean NOT NULL,
    fecha_creacion timestamp without time zone NOT NULL,
    fecha_modificacion timestamp without time zone NOT NULL
);


ALTER TABLE public.inspecciones OWNER TO admin;

--
-- Name: notificaciones; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.notificaciones (
    id uuid NOT NULL,
    usuario_id uuid NOT NULL,
    titulo character varying(200) NOT NULL,
    mensaje text NOT NULL,
    leido boolean NOT NULL,
    estado boolean NOT NULL,
    fecha_creacion timestamp without time zone NOT NULL,
    fecha_modificacion timestamp without time zone NOT NULL
);


ALTER TABLE public.notificaciones OWNER TO admin;

--
-- Name: roles; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.roles (
    id integer NOT NULL,
    nombre character varying(50) NOT NULL,
    estado boolean NOT NULL,
    fecha_creacion timestamp without time zone NOT NULL,
    fecha_modificacion timestamp without time zone NOT NULL
);


ALTER TABLE public.roles OWNER TO admin;

--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.roles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.roles_id_seq OWNER TO admin;

--
-- Name: roles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.roles_id_seq OWNED BY public.roles.id;


--
-- Name: tramite_documentos; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.tramite_documentos (
    id uuid NOT NULL,
    tramite_id uuid NOT NULL,
    requisito_id integer NOT NULL,
    archivo_url character varying(500) NOT NULL,
    estado_validacion character varying(50) NOT NULL,
    observaciones_supervisor text,
    fecha_limite_subsanacion date,
    estado boolean NOT NULL,
    fecha_creacion timestamp without time zone NOT NULL,
    fecha_modificacion timestamp without time zone NOT NULL
);


ALTER TABLE public.tramite_documentos OWNER TO admin;

--
-- Name: tramites; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.tramites (
    id uuid NOT NULL,
    establecimiento_id uuid NOT NULL,
    supervisor_asignado_id uuid,
    tipo_tramite character varying(100) NOT NULL,
    estado_tramite character varying(50) NOT NULL,
    fecha_ingreso date NOT NULL,
    estado boolean NOT NULL,
    fecha_creacion timestamp without time zone NOT NULL,
    fecha_modificacion timestamp without time zone NOT NULL
);


ALTER TABLE public.tramites OWNER TO admin;

--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.usuarios (
    id uuid NOT NULL,
    rol_id integer NOT NULL,
    nombres character varying(100) NOT NULL,
    apellidos character varying(100) NOT NULL,
    ci_nit character varying(30) NOT NULL,
    email character varying(150) NOT NULL,
    password_hash character varying(255) NOT NULL,
    telefono character varying(30),
    estado boolean NOT NULL,
    fecha_creacion timestamp without time zone NOT NULL,
    fecha_modificacion timestamp without time zone NOT NULL
);


ALTER TABLE public.usuarios OWNER TO admin;

--
-- Name: catalogo_requisitos id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.catalogo_requisitos ALTER COLUMN id SET DEFAULT nextval('public.catalogo_requisitos_id_seq'::regclass);


--
-- Name: roles id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.roles ALTER COLUMN id SET DEFAULT nextval('public.roles_id_seq'::regclass);


--
-- Data for Name: catalogo_requisitos; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: citaciones_infracciones; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.citaciones_infracciones (id, establecimiento_id, supervisor_id, motivo_citacion, evidencia_foto_url, fecha_emision, alerta_enviada, estado, fecha_creacion, fecha_modificacion) FROM stdin;
\.


--
-- Data for Name: establecimientos; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: historial_actividades; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.historial_actividades (id, codigo_tramite, establecimiento, accion, responsable, estado_resultado, estado_badge, fecha_hora_formato, estado, fecha_creacion, fecha_modificacion) FROM stdin;
\.


--
-- Data for Name: inspecciones; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.inspecciones (id, tramite_id, supervisor_id, fecha_programada, estado_inspeccion, veredicto_final, acta_pdf_url, estado, fecha_creacion, fecha_modificacion) FROM stdin;
\.


--
-- Data for Name: notificaciones; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.notificaciones (id, usuario_id, titulo, mensaje, leido, estado, fecha_creacion, fecha_modificacion) FROM stdin;
\.


--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.roles (id, nombre, estado, fecha_creacion, fecha_modificacion) FROM stdin;
1	Administrador	t	2026-09-10 13:12:24.294249	2026-09-10 13:12:24.294249
2	Coordinador	t	2026-09-10 13:12:24.294249	2026-09-10 13:12:24.294249
3	Supervisor	t	2026-09-10 13:12:24.294249	2026-09-10 13:12:24.294249
4	Director	t	2026-09-10 13:12:24.294249	2026-09-10 13:12:24.294249
5	Propietario	t	2026-09-10 13:12:24.294249	2026-09-10 13:12:24.294249
\.


--
-- Data for Name: spatial_ref_sys; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.spatial_ref_sys (srid, auth_name, auth_srid, srtext, proj4text) FROM stdin;
\.


--
-- Data for Name: tramite_documentos; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.tramite_documentos (id, tramite_id, requisito_id, archivo_url, estado_validacion, observaciones_supervisor, fecha_limite_subsanacion, estado, fecha_creacion, fecha_modificacion) FROM stdin;
\.


--
-- Data for Name: tramites; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.tramites (id, establecimiento_id, supervisor_asignado_id, tipo_tramite, estado_tramite, fecha_ingreso, estado, fecha_creacion, fecha_modificacion) FROM stdin;
\.


--
-- Data for Name: usuarios; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: geocode_settings; Type: TABLE DATA; Schema: tiger; Owner: admin
--

COPY tiger.geocode_settings (name, setting, unit, category, short_desc) FROM stdin;
\.


--
-- Data for Name: pagc_gaz; Type: TABLE DATA; Schema: tiger; Owner: admin
--

COPY tiger.pagc_gaz (id, seq, word, stdword, token, is_custom) FROM stdin;
\.


--
-- Data for Name: pagc_lex; Type: TABLE DATA; Schema: tiger; Owner: admin
--

COPY tiger.pagc_lex (id, seq, word, stdword, token, is_custom) FROM stdin;
\.


--
-- Data for Name: pagc_rules; Type: TABLE DATA; Schema: tiger; Owner: admin
--

COPY tiger.pagc_rules (id, rule, is_custom) FROM stdin;
\.


--
-- Data for Name: topology; Type: TABLE DATA; Schema: topology; Owner: admin
--

COPY topology.topology (id, name, srid, "precision", hasz) FROM stdin;
\.


--
-- Data for Name: layer; Type: TABLE DATA; Schema: topology; Owner: admin
--

COPY topology.layer (topology_id, layer_id, schema_name, table_name, feature_column, feature_type, level, child_id) FROM stdin;
\.


--
-- Name: catalogo_requisitos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.catalogo_requisitos_id_seq', 46, true);


--
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.roles_id_seq', 5, true);


--
-- Name: topology_id_seq; Type: SEQUENCE SET; Schema: topology; Owner: admin
--

SELECT pg_catalog.setval('topology.topology_id_seq', 1, false);


--
-- Name: catalogo_requisitos catalogo_requisitos_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.catalogo_requisitos
    ADD CONSTRAINT catalogo_requisitos_pkey PRIMARY KEY (id);


--
-- Name: citaciones_infracciones citaciones_infracciones_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.citaciones_infracciones
    ADD CONSTRAINT citaciones_infracciones_pkey PRIMARY KEY (id);


--
-- Name: establecimientos establecimientos_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.establecimientos
    ADD CONSTRAINT establecimientos_pkey PRIMARY KEY (id);


--
-- Name: historial_actividades historial_actividades_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.historial_actividades
    ADD CONSTRAINT historial_actividades_pkey PRIMARY KEY (id);


--
-- Name: inspecciones inspecciones_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.inspecciones
    ADD CONSTRAINT inspecciones_pkey PRIMARY KEY (id);


--
-- Name: notificaciones notificaciones_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.notificaciones
    ADD CONSTRAINT notificaciones_pkey PRIMARY KEY (id);


--
-- Name: roles roles_nombre_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_nombre_key UNIQUE (nombre);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: tramite_documentos tramite_documentos_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.tramite_documentos
    ADD CONSTRAINT tramite_documentos_pkey PRIMARY KEY (id);


--
-- Name: tramites tramites_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.tramites
    ADD CONSTRAINT tramites_pkey PRIMARY KEY (id);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (id);


--
-- Name: idx_establecimientos_coordenadas; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_establecimientos_coordenadas ON public.establecimientos USING gist (coordenadas);


--
-- Name: ix_catalogo_requisitos_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_catalogo_requisitos_id ON public.catalogo_requisitos USING btree (id);


--
-- Name: ix_citaciones_infracciones_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_citaciones_infracciones_id ON public.citaciones_infracciones USING btree (id);


--
-- Name: ix_establecimientos_codigo_cue; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_establecimientos_codigo_cue ON public.establecimientos USING btree (codigo_cue);


--
-- Name: ix_establecimientos_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_establecimientos_id ON public.establecimientos USING btree (id);


--
-- Name: ix_historial_actividades_codigo_tramite; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_historial_actividades_codigo_tramite ON public.historial_actividades USING btree (codigo_tramite);


--
-- Name: ix_historial_actividades_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_historial_actividades_id ON public.historial_actividades USING btree (id);


--
-- Name: ix_inspecciones_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_inspecciones_id ON public.inspecciones USING btree (id);


--
-- Name: ix_notificaciones_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_notificaciones_id ON public.notificaciones USING btree (id);


--
-- Name: ix_roles_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_roles_id ON public.roles USING btree (id);


--
-- Name: ix_tramite_documentos_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_tramite_documentos_id ON public.tramite_documentos USING btree (id);


--
-- Name: ix_tramites_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_tramites_id ON public.tramites USING btree (id);


--
-- Name: ix_usuarios_ci_nit; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX ix_usuarios_ci_nit ON public.usuarios USING btree (ci_nit);


--
-- Name: ix_usuarios_email; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX ix_usuarios_email ON public.usuarios USING btree (email);


--
-- Name: ix_usuarios_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_usuarios_id ON public.usuarios USING btree (id);


--
-- Name: citaciones_infracciones citaciones_infracciones_establecimiento_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.citaciones_infracciones
    ADD CONSTRAINT citaciones_infracciones_establecimiento_id_fkey FOREIGN KEY (establecimiento_id) REFERENCES public.establecimientos(id);


--
-- Name: citaciones_infracciones citaciones_infracciones_supervisor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.citaciones_infracciones
    ADD CONSTRAINT citaciones_infracciones_supervisor_id_fkey FOREIGN KEY (supervisor_id) REFERENCES public.usuarios(id);


--
-- Name: establecimientos establecimientos_propietario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.establecimientos
    ADD CONSTRAINT establecimientos_propietario_id_fkey FOREIGN KEY (propietario_id) REFERENCES public.usuarios(id);


--
-- Name: inspecciones inspecciones_supervisor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.inspecciones
    ADD CONSTRAINT inspecciones_supervisor_id_fkey FOREIGN KEY (supervisor_id) REFERENCES public.usuarios(id);


--
-- Name: inspecciones inspecciones_tramite_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.inspecciones
    ADD CONSTRAINT inspecciones_tramite_id_fkey FOREIGN KEY (tramite_id) REFERENCES public.tramites(id);


--
-- Name: notificaciones notificaciones_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.notificaciones
    ADD CONSTRAINT notificaciones_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id);


--
-- Name: tramite_documentos tramite_documentos_requisito_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.tramite_documentos
    ADD CONSTRAINT tramite_documentos_requisito_id_fkey FOREIGN KEY (requisito_id) REFERENCES public.catalogo_requisitos(id);


--
-- Name: tramite_documentos tramite_documentos_tramite_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.tramite_documentos
    ADD CONSTRAINT tramite_documentos_tramite_id_fkey FOREIGN KEY (tramite_id) REFERENCES public.tramites(id);


--
-- Name: tramites tramites_establecimiento_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.tramites
    ADD CONSTRAINT tramites_establecimiento_id_fkey FOREIGN KEY (establecimiento_id) REFERENCES public.establecimientos(id);


--
-- Name: tramites tramites_supervisor_asignado_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.tramites
    ADD CONSTRAINT tramites_supervisor_asignado_id_fkey FOREIGN KEY (supervisor_asignado_id) REFERENCES public.usuarios(id);


--
-- Name: usuarios usuarios_rol_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_rol_id_fkey FOREIGN KEY (rol_id) REFERENCES public.roles(id);


--
-- PostgreSQL database dump complete
--

