# ==============================================================================
# CONFIGURACIÓN DEL SERVICIO DE CORREO SALIENTE (SMTP - GMAIL)
# ==============================================================================
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=sclaros724@gmail.com
SMTP_PASSWORD=ofgv vuow nhip xilw
SMTP_FROM=sclaros724@gmail.com

# ==============================================================================
# URLS Y CLAVES DE SEGURIDAD
# ==============================================================================
FRONTEND_URL=http://localhost:5173
SECRET_KEY=sedes-secret-key-laboratorios-2026-secure-token-98745
DATABASE_URL=postgresql://neondb_owner:npg_zgaLyeZI0O9C@ep-steep-mountain-ayx8qo2j-pooler.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require
